<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <body>
      <% include ./partials/navbar.ejs %>
      <h1>
        INDEX TODO
      </h1>
      <% include ./partials/baseScripts.ejs %>
    </body>
  </head>
</html>
